* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Primary: #88B2CC;
    --Primary-Dark: #80a6be;
    --Primary-Light: #a9c7db;
    --Secondary: rgb(101, 142, 169);
    --Secondary-Dark: #4e6e84;
    --Salmon: #E98973;
    --PlayerX: #e7d4c0;
    --PlayerO: #605e62;
}

body {
    background-color: var(--Primary);
    font-family: 'Itim', sans-serif;
}

h1 {
    color: var(--Secondary-Dark);
    font-size: 6vh;
    font-weight: 600;
    letter-spacing: 0.5px;
}

h2 {
    color: var(--Secondary-Dark);
    font-size: 3.5vh;
    letter-spacing: 0.5px;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

#viewPort {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.players,
#MarkPlayerX,
#MarkPlayerCircle {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: max-content;
    padding: 0.10rem 0.75rem;
    border: 2px solid transparent;
}

#MarkPlayerCircle {
    margin-left: 1rem;
}

.playerX {
    margin-left: 0.5rem;
}

.playerCircle {
    margin-left: 0.5rem;
}

.playerX::after {
    content: "X";
    font-size: 5vh;
    color: var(--PlayerX);
}

.playerCircle::after {
    content: "O";
    font-size: 5vh;
    color: var(--PlayerO)
}

.content {
    align-content: center;
    justify-content: center;
    background-color: var(--Secondary);
    width: 60vh;
    height: 60vh;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
    grid-template-areas:
        "div1 div2 div3"
        "div4 div5 div6"
        "div7 div8 div9";
}

div {
    background-color: var(--Primary);
}

.box.x::after {
    content: "X";
    font-size: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--PlayerX);
}

.box.circle::after {
    content: "O";
    font-size: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--PlayerO)
}

.box:hover {
    background-color: var(--Primary-Dark)
}

.reset {
    border-top: 1.75px solid var(--Secondary);
    border-left: 1.75px solid var(--Secondary);
    border-right: 2.5px solid var(--Secondary-Dark);
    border-bottom: 2.5px solid var(--Secondary-Dark);
    background-color: var(--Secondary);
    color: var(--Primary-Light);
    width: max-content;
    padding: 0.25rem 0.5rem;
    font-size: 4vh;
    font-weight: 600;
    letter-spacing: 0.15rem;
    cursor: pointer;
    text-decoration: none;
}

.reset:hover {
    background-color: var(--Primary-Light);
    border: 1.5px solid var(--Secondary-Dark);
    box-shadow: 0px 5px 10px -5px var(--Secondary-Dark);
    color: var(--Secondary-Dark);
    transform: translateY(-0.1em);
    cursor: pointer;
}

.reset:active {
    transform: translateY(0);
    background-color: var(--Secondary-Dark);
    color: var(--Primary-Dark);
    box-shadow: none;
}

#winner {
    display:none;
    position: absolute;
    text-align: center;
    line-height: 100vh;
    width: 100%;
    height: 100%;
    background-color: var(--Primary);
    color: var(--Secondary-Dark);
    font-size: 6vh;
    font-weight: 600;
    letter-spacing: 0.5px;
}

#restart {
    display: none;
    position: absolute;
    margin-top: 5em;
    color: var(--Secondary);
    border-top: 1.75px solid var(--Secondary);
    border-left: 1.75px solid var(--Secondary);
    border-right: 2.5px solid var(--Secondary-Dark);
    border-bottom: 2.5px solid var(--Secondary-Dark);
    background-color: var(--Secondary);
    color: var(--Primary-Light);
    width: max-content;
    padding: 0.25rem 0.5rem;
    font-size: 4vh;
    font-weight: 600;
    letter-spacing: 0.15rem;
    cursor: pointer;
    text-decoration: none;
}

#restart:hover {
    background-color: var(--Primary-Light);
    border: 1.5px solid var(--Secondary-Dark);
    box-shadow: 0px 5px 10px -5px var(--Secondary-Dark);
    color: var(--Secondary-Dark);
    transform: translateY(-0.1em);
    cursor: pointer;
}

#restart:active {
    transform: translateY(0);
    background-color: var(--Secondary-Dark);
    color: var(--Primary-Dark);
    box-shadow: none;
}

#seconds {
    position: absolute;
    bottom: 15px;
    color: var(--Secondary);
    background-color: transparent;
    font-size: 120%;
    letter-spacing: 0.5px;
}

@media screen and (max-width:480px) {
    body {
        overflow-y: hidden;
    }

    .container {
        height: 100vh;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #viewPort {
        height: 100vh;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    h1 {
        margin: 0;
    }

    .content {
        width: 45vh;
        height: 45vh;
    }

    .reset {
        margin: 0 0 8rem 0;
    }

    .box.x::after {
        font-size: 12vh;
    }

    .box.circle::after {
        font-size: 12vh;
    }
}
